*
!.gitignore
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!ToolscreenVersion.cmake
!build.bat
!docs
!docs/images/
!docs/images/screenshot.png
!lang
!lang/langs.json
!lang/en.json
!lang/zh_CN.json
!.github
!.github/ISSUE_TEMPLATE/
!.github/ISSUE_TEMPLATE/*.yml
!.github/workflows
!.github/workflows/*
!src/
!src/**
!.claude-memory/
!.claude-memory/*
!out/
!out/build/
!out/build/bin/
!out/build/bin/Release/
!out/build/bin/Release/*

src/json.hpp
src/packages.config
src/vcpkg.json
src/pdata.txt

src/include/imgui/